* {
  margin: 0; 
  box-sizing: border-box;
}

html,
body {
  /* margin:  0; */
  /* font-size: 0.93em; */
  color: black;
  /* height: 100%; */
  /* background: rgb(249, 235, 241); */

  font-family: PPNeueMontreal;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  /* display: inline; */
  display: block;
 
  object-fit: cover;
/* max-height: 100vh; */
}



input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* nav {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding-top: 11px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
} */


/* video {
  border-radius: 5px;
  border: 1px solid #4444dd;
  filter: drop-shadow(5px 5px 4px #4444dd);
  z-index: -1;
} */

@font-face {
  font-family: "PPNeueMontreal";
  src: url(../fonts/PPNeueMontreal-Book.woff) format("woff"),
    url(../fonts/PPNeueMontreal-Book.woff2) format("woff2"),
    url(../fonts/PPNeueMontreal-Book.ttf) format("truetype");
}

@font-face {
  font-family: "ABCLaicaBItalicVariable";
  src: url(../fonts/ABCLaicaBItalicVariable-Trial.woff) format("woff") url(../fonts/ABCLaicaBItalicVariable-Trial.woff2) format("woff2"),
    url(../fonts/ABCLaicaBItalicVariable-Trial.ttf) format("truetype");
}

.page {
  /* margin: 31px 0 0;
  border-bottom: 1px black solid;
  border-top: 1px black solid; */
  box-sizing: border-box;
  cursor: default;

}

/* .logo {
  padding: 60px 0 40px;
  font-size: 2.8vw;
  display: flex;
  justify-content: center;
  font-style: italic;
  letter-spacing: 5px;
  color: transparent;
  text-shadow: 0 0 0.4vh #c4c4f6;
  transition: all 2s ease-out;
  font-weight: 900;
} */

/* .logo:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgb(249, 235, 241);
  letter-spacing: 15px;
  padding-left: 8px;
} */

.section-top {
  height: 100vh;
  line-height: 17px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  /* border-bottom: 1px white solid; */
}


.section-top-txt {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 70px; */
}

/* .logo-container {
  padding-left: 42px;
  display: flex;
} */

.section-top-img {
      display: flex;
      justify-content: right;   
      /* flex-direction: column; */

  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */

}

.illustration {

/* height: 100px; */
  width: 80%;
  /* object-fit: cover; */
  /* object-position: 100% 0; */
}

.bio-paragraph {
  padding: 0px 0 15px 100px;
  line-height: 1.1em;
}


.fade-in {
  animation: fadeIn 1.5s ease-out;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* @media(max-width: 1050px) {

  .logo {
    padding: 60px 0 15px;
  }

  .logo-container {
    padding-left: 40px;
  }

  .logo-container.logo-web {
    padding-left: 20px;
  }

  .bio-paragraph.less-padding {
    padding: 0px 0px 15px 20px;
  }
} */

@media(max-width: 1020px) {

  html,
  body {
    margin: 0;
    font-size: 0.9em;
  }

  /* .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  } */

  /* .email-desktop {
    display: none;
  } */
  /* .email-mobile {
    display: block;
  } */


  /* .left-home {
    padding: 4% 6%;
  } */
/* 
  .left-home-top {
    font-size: 8vw;
    margin: 20px 0px 40px 10px;
  } */

  /* .left-home-bottom {
    margin: 20px 0 27px 0;
    justify-content: center;
  } */

  /* .PG {
    line-height: 6vw;
    font-size: 6vw;
  } */

  /* .portrait {
    margin: 20px;
    max-width: 65vw;
  } */

  /* .music-web {
    text-shadow: 0 0 0.7vw rgba(0, 0, 0, 1);
  } */

  .section-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    margin: 10vh 0;
  }

  .section-top-txt {
  margin-bottom: 10vh;
  }



  .illustration {

    /* height: 100px; */
      width: 100%;
/* margin: 10vh 0; */
      /* object-fit: cover; */
      /* object-position: 100% 0; */
    }

    /* .music{
      margin-top: 40vh;
    } */

  


/* 
  .logo {
    padding: 0 0 20px;
    font-size: 4.2vw;
    letter-spacing: 3px;
  } */

  /* .logo-container {
    display: inline;
    padding-left: 0px;
    margin-right: 25px;
  } */

  .section:first-child {
    padding: 10px 0;
  }

  .bio-paragraph {
    padding: 0px 80px 15px 80px;
  }

  /* .bio-paragraph.less-padding {
    padding: 0px 80px 15px 80px;
  } */


  /* .bio-paragraph:last-of-type {
    padding-bottom: 0;
  } */

  /* .illustration.web-crop {
    height: 25vh;
    object-position: 100% 100%;
  } */
}

@media(max-width:700px) {

  html,
  body {
    font-size: 0.9em;
  }

  /* nav {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  } */

  /* .container-header {
    font-size: 1.2 em;
  } */

  /* .left-home-top {
    margin: 20px 0;
  } */

  /* .left-home-bottom {
    margin: 30px 0 30px;
  } */

  /* .social-contact-box {
    width: 68%;
  } */

 



  /* .music-web {
    text-shadow: 0 0 0.65vw rgba(0, 0, 0, 1);
  } */
/* 
  .music {
    font-size: 0.9em;
   margin-top: 10vh;
  } */

  /* .section-top-txt {
    justify-content: center;
    height: auto;
  } */

  /* .section-top-txt {
    margin: 50vh 0;
    justify-content: space-evenly;
    min-height: 50vh;
  } */

  /* .logo {
    padding: 0 0 30px;
    font-size: 7.5vw;
    letter-spacing: 2px;
  } */


  /* .logo:hover {
    letter-spacing: 4px;
  } */

  .bio-paragraph {
    padding: 0px 20px 15px 20px;
  }

  /* .bio-paragraph.less-padding {
    padding: 0px 20px 15px 20px;
  } */

  /* .illustration.web-crop {
    height: 25vh;
  } */

  /* .web-project-title {
    font-size: 3em;
    letter-spacing: 3.5vw;
  } */
}

@media(max-width:290px) {

  html,
  body {
    font-size: 0.8em;
    line-height: 1;
  }

}