*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-size: 0.93em;
  height: 100%;
  background: rgb(249, 235, 241);
  font-family: PPNeueMontreal-Book;
  margin: 0 20px 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

nav {
  background: rgb(249, 235, 241);
  padding-top: 10px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;


}

video {
  max-width: 100%;
  border-radius: 2vw;
  margin: 5vh auto;

}

@font-face {
  font-family: "PPNeueMontreal";
  src: url(../fonts/PPNeueMontreal-Book.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Oracle";
  src: url(../fonts/ABCOracle-Medium-Trial.woff2) format("woff2");
}


@font-face {
  font-family: "ABCLaicaBItalicVariable";
  src: url(../fonts/ABCLaicaBItalicVariable-Trial.woff) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.page {
  margin: 30px 0 0;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
}

.music {
  margin: 50px 11%;
}

.web {
  margin: 50px 0;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  font-size: 3.5rem;
  font-style: italic;
  letter-spacing: 5px;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  transition: all 3s ease-out;
}

.logo:hover {
  text-shadow: 0 0 1.6px rgb(219, 78, 219);
  transform: scale(1.1);
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }


  .left-home {
    padding: 4% 6%;
  }

  .left-home-top {
    font-size: 8vw;
    margin: 20px 0px 40px 10px;
  }

  .left-home-bottom {
    margin: 20px 0 27px 0;
    justify-content: center;
  }


  .PG {
    font-size: 6vw;
    line-height: 6vw;
  }

  .portrait {
    margin: 20px;
    max-width: 65vw;
  }

  .music-web {
    text-shadow: 0 0 0.7vw rgba(0, 0, 0, 1);
  }
}

@media(max-width:550px) {

  .container-header {
    font-size: 1.2 em;
  }

  .logo {
    font-size: 3rem;
  }

  .music {
    margin: 50px 3%;
  }

  .bio {
    grid-template-columns: 1fr;
  }

  html,
  body {
    font-size: 0.9em;
  }

  .left-home {
    padding: 4% 0 0 0;
  }


  .left-home-top {

    margin: 20px 0 40px 0;

  }

  .left-home-bottom {
    margin: 30px 0 50px;
  }

  .music-web {
    text-shadow: 0 0 0.85vw rgba(0, 0, 0, 1);
  }

}

@media(max-width:290px) {



  .logo {
    font-size: 2.5rem;
  }

  html,
  body {
    font-size: 0.8em;
    line-height: 1;
  }
}