.container-header {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 0;
  font-family: PPNeueMontreal-Book;
  border-bottom: 1px solid black;

}

.home-btn {
  -webkit-transition-duration: 0.01s;
  -moz-transition-duration: 0.01s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.home-btn:active {
  color: rgb(219, 78, 219);
  -webkit-transform: scale(1.4, 0.8);
  -ms-transform: scale(1.4, 0.8);
  transform: scale(0.7, 1.4);
}

.link-btn {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform ease-out;
}

.link-btn:hover {
  color: rgb(114, 101, 114);
}
.link-btn:active {
  transform: scale(0.95, 1.05);
  color: rgb(91, 63, 91);
}

.left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid black;
  padding-right: 10px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}