

.section{
    letter-spacing: 1px;
    padding: 40px 0 10px;
    /* border-top: 1px black solid; */
    font-family: ABCLaicaBItalicVariable-Trial;
    font-style: italic;
    font-size: 1.1em;
    /* font-weight: 700; */

}

.element:hover{
    background-color: rgb(249, 223, 235);;
}
.element{
    padding: 5px 0;
    border-top: 1px black solid;
    display: grid;
    grid-template-columns: 1.15fr 1.75fr 1.5fr 0.5fr;
    gap: 0px 5px; 
}


