.web {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* margin: 6.5vw; */
    margin: 50px 6.5vw;

}

.web-paragraph {
    padding: 0px 0 15px 0px;
    font-size: 20px;
    line-height: normal;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.border-bottom {
    padding: 10px 20px;
    /* margin: 0 6.5vw; */

    letter-spacing: 1px;
    font-family: ABCLaicaBItalicVariable;
    font-style: italic;
    font-size: 1.1em;
    border-bottom: 1px solid black;
}

.web-project-title {
    display: flex;
    justify-content: center;
    font-family: PPNeueMontreal, Century Gothic, sans-serif;
    font-size: 6.5em;
    font-weight: 900;
    letter-spacing: 37px;
    color: transparent;
    text-shadow: 0 0 1.6px black;
    line-height: 0.8em;

}

.section-project {
    margin-top: 20px;
    line-height: 17px;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    gap: 0px 3%;
    /* text-align: justify; */
}


.col3 {
    margin: 22% 0;
}


.margin {
    margin: 10vh 0;
}


.link-logos {
    display: flex;
    margin: 5% 20% 0;
    /* flex-direction: column; */
    /* width: 40%; */
    /* margin-top: 30px; */
    /* margin-left: 25%; */
    scale: 1.5;
    align-items: center;
    justify-content: space-evenly;

}

.border-right {
    border-right: 1px solid black;
}

.margin-left {
    margin-left: 25px;
    margin-right: 20px;
}